<li class="nav-item">
  <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Create Thread", new_topic_path, class: "nav-link" %>
</li>
<li class="nav-item">
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
</li>